@page
@model IndexModel
@{
    ViewData["Title"] = "Home page!";
}

<link rel="stylesheet" href="styles.css" />

<div class="text-center">
    <img id="logo" src="~/products/logo.png" alt="A logo that contains the word 'Git'" />
    <br />
    <h3 class="display-4">To learn Git & GitHub Course </h3>
    <p>Because the basics are important!</p>
    <p>Learn more about Git on <a href="https://git-scm.com/book/en/v2"> the official website</a>.</p>
    <br />
    <h3 class="display-4">And</h3>
    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
