@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h3 class="display-4">To learn Git & GitHub Course </h3>
    <p>Learn more about Git on <a href="https://git-scm.com/book/en/v2"> the official website</a>.</p>
    <br />
    <h3 class="display-4">And</h3>
    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
