@page
@model IndexModel
@{
    ViewData["Title"] = "Home page!";
}

<link rel="stylesheet" href="~/css/styles.css" />

<div class="text-center">
    <img id="logo" src="~/products/logo.png" alt="A logo that contains the word 'Git'" />
    <br />
    <h1 class="display-4">To learn Git & GitHub Course </h1>
    <section>
        <p>Because the basics are important!</p>
        <p>
            Learn more about Git in the
            <a href="https://git-scm.com/book/en/v2"> official docs</a> or
            <a href="https://acad.link/git">our course</a>
        </p>
    </section>
    <br />
    <section>
        <h1 class="display-4">And</h1>
        <p>
            Learn more about
            <a href="https://docs.microsoft.com/aspnet/core">
                building Web apps with ASP.NET Core.
            </a>
        </p>
    </section>
    
</div>
